.avatarBtn {
    width: 95%;
    text-align: left !important;
    height: 70px;
    ;
}
md-icon.avatar {
    margin-right: 20px;
}
md-list .md-button.selected {
    color: #03a9f4;
}
button#main {
    margin-bottom: 10px;
}
md-sidenav > md-toolbar {
    height: 64px;
}
.avatar {
  position:relative;
  width: 54px;
  height: 54px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  left: 50%;
  margin-left: -27px;
}

.nav-button {
    width: 24px!important;
    height: 24px!important;
}
.navgi {
    background: #3A88F7!important;
}
.search-box {
    border-radius: 2px;
    display: block;
    height: 40px;
    position: relative;
    overflow: visible;
    min-width: 20em;
    border: none;
    outline: 0;
    background: #5999F9;
    color: #fff;
}
::-webkit-input-placeholder {
    color: #fff!important;
}
