/**
* @Author: Li'Zhuo
* @Date:   2016-04-08 11:40:18
* @Email:  topgrd@outlook.com
* @Project: ES6
 * @Last modified by:   Li'Zhuo
 * @Last modified time: 2016-05-21 11:39:53
*/

a img {
    border: 0;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.avatarBtn {
    width: 95%;
    text-align: left !important;
    height: 70px;
    ;
}
md-icon.avatar {
    margin-right: 20px;
}
md-list .md-button.selected {
    color: #03a9f4;
}
button#main {
    margin-bottom: 10px;
}
md-sidenav > md-toolbar {
    height: 64px;
}
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    border: none;
}
.avatar:focus, .avatar img:focus {
    border: 0;
    outline: 0;
}
.avatar img {
    border-radius: 500px;
    width: 100%;
    border: none;
}
.nav-button {
    margin-top: -12px!important;
    width: 24px!important;
    height: 24px!important;
}
.navgi {
    /*background: #3A88F7!important;*/
    background: #fff;
}
.search-box {
    margin-top: 24px;
}
.search-box::-webkit-input-placeholder {
    color: #fff;
    margin-left: 1em;
}
.search-icon>#text-field-container {
    margin-left: 1.5em;
}
.contain-icon {
    width: 70px;
    height: 37px;
    background: #5999F9;
}
.main-toolbar {
    width: 100%;
    height: 65px;
}
body {
    overflow: hidden;
    font: 12px/150% helvetica, "微软雅黑", "microsoft yahei", verdana, lucida, arial, sans-serif, "黑体";
}
.main-page h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.5em;
}
.main-page h2 span {
    font-size: 32px;
}
.main-page h2 a {
    font-size: 12px;
    text-decoration: none;
}
.main-page {
    width: 100%;
    height: 100%;
    min-height: 700px;
}
.pro-it {
    position: relative;
}
.item {
    padding: .5em;
    transition: transform 0.5s;
}
.item:hover {
    transform: scale(1.1);
}
.item img {
    width: 100%;
    height: 310px;
}
.item .opacity {
    background-color: rgba(0, 0, 0, 0.75);
}
.item-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #7d94a4;
}
.item:hover .item-overlay {
    display: block;
}
.rate-info {
    color: #4cb6cb;
}
.rate-info svg {
    fill: #4cb6cb;
    width: 18px;
    height: 18px;
    display: inline-block!important;
}
.padder {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.movies {
    padding: 10px;
}
.bottom-info {
    padding-top: 15px;
    padding-bottom: 15px;
}
.bottom-info a {
    color: #545a5f;
    text-decoration: none;
    font-size: 14px;
}
.text-esp {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.inline-block {
    display: inline-block;
}
.grade {
    display: inline-block;
    font-size: 14px;
    position: absolute;
    margin-top: 12px;
}
.actor-info {
    padding: 20px;
}
.like-button {
    right: 5px;
    position: absolute;
    bottom: 5px;
}
.tabsdemoDynamicHeight md-content {
    background-color: transparent !important;
}
.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
    background: white;
}
.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0;
}
md-toolbar.md-accent > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
    color: rgb(255, 82, 82);
    background: rgb(255, 82, 82);
}
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs .md-tab.md-active {
    color: rgb(16, 108, 200);
}
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-button:start:decrement, #doc::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece {
    background-color: #FAFAFA;
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #999;
    -webkit-border-radius: 8px;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #999;
    -webkit-border-radius: 8px;
}
.main-page h3 {
    font-size: 30px;
    font-weight: 100;
    line-height: 1em;
    margin-bottom: 12px;
    margin-top: 0;
    display: inline-block;
}
.detail-info {
    margin-top: 50px;
    margin-left: 6px;
}
.detail-img {
    width: 230px;
    display: inline-block;
}
.detail-box {
    display: inline-block;
    margin-left: 50px;
    max-width: 800px;
    vertical-align: top;
}
.detail-time {
    margin-bottom: 12px;
}
.detail-time span {
    font-size: 24px;
    font-weight: 100;
    line-height: 24px;
    vertical-align: middle;
}
.detail-rating {
    margin-bottom: 12px;
    margin-left: 6px;
}
.detail-rating span {
    color: #F4B305;
    font-size: 30px;
}
span.rating-span {
    color: #D1CECC;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 12px;
}
.collect {
    font-size: 20px;
    margin-left: 6px;
}
.detail-summary {
    margin-left: 6px;
}
.casts {
    background: #fff;
    width: 100%;
    -webkit-border-top-left-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    -moz-border-radius-topleft: 40px;
    -moz-border-radius-bottomright: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.cast-list {
    padding: 12px;
}
.cast-li {
    display: inline-block;
}
.cast-li img {
    width: 230px;
    height: 240px;
}
