<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Awesome Film</title>
        <meta name="name" content="content" charset="utf-8">
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css"/>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-route/angular-route.min.js"></script>
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="node_modules/angular-aria/angular-aria.min.js"></script>
        <script src="node_modules/angular-material/angular-material.min.js"></script>
        <link rel="stylesheet" href="bower_components/angular-rateit/dist/ng-rateit.css"/>
        <script src="bower_components/angular-rateit/dist/ng-rateit.js"></script>
        <script src="scripts/lib/echarts.min.js"></script>
        <script src="scripts/lib/shine.js"></script>
        <link rel="stylesheet" href="http://flatfull.com/themes/musik/css/app.v1.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css"/>
        <link rel="stylesheet" href="https://raw.githubusercontent.com/premasagar/cleanslate/master/cleanslate.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="css/main.css" charset="utf-8">
        <!-- @if NODE_ENV='development' -->

        <script src="app.js"></script>
        <script src="scripts/menu/menu.js"></script>
        <script src="scripts/controller/AppCtrl.js"></script>
        <script src="scripts/controller/LeftCtrl.js"></script>
        <script src="scripts/controller/HomeContentCtrl.js"></script>
        <script src="scripts/controller/AllItemsCtrl.js"></script>
        <script src="scripts/controller/NextCtrl.js"></script>
        <script src="scripts/controller/RankCtrl.js"></script>
        <script src="scripts/controller/DetailCtrl.js"></script>
        <script src="scripts/service/DataServie.js"></script>
        <script src="scripts/service/VideoService.js"></script>
        <!--suppress HtmlUnknownTarget: Composite only exists on Production BUILD -->
        <!-- @endif -->
        <!-- @if NODE_ENV='production' -->
        <!-- <script type="text/javascript" src="app.js"></script> -->
        <!-- <script src="dist/controller.js"></script> -->
        <!-- @endif -->
    </head>
    <body>
        <div ng-controller="AppCtrl as vm" ng-cloak class="main-toolbar" layout="column" style="height: 800px;">
            <md-toolbar class="navgi" ng-if="true">
                <div class="md-toolbar-tools">
                    <span>Movie
                    </span>

                    <span flex="5"></span>
                    <md-button class="md-fab md-mini" aria-label="back" onClick="javascript:history.back()">
                        <md-icon md-svg-src="img/icons/back.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini" aria-label="next" onClick="javascript:history.go(1)">
                        <md-icon md-svg-src="img/icons/next.svg"></md-icon>
                    </md-button>
                    <span flex="5"></span>
                    <!--<div class="contain-icon">
                        <md-icon md-svg-src="img/icons/search.svg" class="search-icon"></md-icon>
                    </div>-->
                    <md-input-container md-no-float class="md-block search-box">
                        <md-icon md-svg-src="img/icons/search.svg"></md-icon>
                        <input type="text" placeholder="搜索...">
                    </md-input-container>
                    <span flex></span>

                    <div class="avatar" ng-click="toggleRight()">
                        <img src="img/a0.png" alt="" style="border:0" onfocus="blur()"/>
                    </div>
                    <span flex="5"></span>
                    <md-button class="md-icon-button nav-button" aria-label="Samll" ng-click="smallWin()">
                        <md-icon md-svg-icon="img/icons/small.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button nav-button" aria-label="FullScreen" ng-click="fullWin()">
                        <md-icon md-svg-icon="img/icons/fullscreen.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button nav-button" aria-label="Close" ng-click="closeWin()">
                        <md-icon md-svg-icon="img/icons/close.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content flex>
                <div class="main-container">
                    <ng-view class="page">
                        <h1>Loading...</h1>
                    </ng-view>
                </div>
            </md-content>
            <div class="" layout="row">
                <md-sidenav class="md-sidenav-left md-whiteframe-z2 my-slide" md-component-id="left">
                    <!--<md-button class="avatarBtn">
                        <md-icon md-svg-icon="img/icons/avatar-1.svg" class="avatar"></md-icon>
                    </md-button>-->
                    <div class="bg-info">
                        <img class="avatar center-avatar" src="img/a0.png" alt=""/>
                        <p style="text-align: center;">
                            TopGrd
                        </p>
                    </div>
                    <aside class="bg-black dk aside hidden-print" id="nav" style="height:100%;background:#232c32;">
                        <section class="vbox">
                            <section class="w-f-md scrollable">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto;">
                                    <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railopacity="0.2" style="overflow: hidden; width: auto;">

                                        <!-- nav -->
                                        <nav class="nav-primary hidden-xs">
                                            <ul class="nav bg clearfix">
                                                <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                                                    Discover
                                                </li>
                                                <li>
                                                    <a href="index.html">
                                                        <i class="icon-disc icon text-success"></i>
                                                        <span class="font-bold">最近更新</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="genres.html">
                                                        <i class="icon-music-tone-alt icon text-info"></i>
                                                        <span class="font-bold">收藏</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="events.html">
                                                        <i class="icon-drawer icon text-primary-lter"></i>
                                                        <b class="badge bg-primary pull-right">6</b>
                                                        <span class="font-bold">提醒</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="listen.html">
                                                        <i class="icon-list icon  text-info-dker"></i>
                                                        <span class="font-bold">评论</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="video.html" data-target="#content" data-el="#bjax-el" data-replace="true">
                                                        <i class="icon-social-youtube icon  text-primary"></i>
                                                        <span class="font-bold">个人中心</span>
                                                    </a>
                                                </li>
                                                <li class="m-b hidden-nav-xs"></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </footer>
                        </section>
                    </aside>
                </md-sidenav>
            </div>
        </div>
    </body>
</html>
