<div class="main-page" ng-controller="DetailCtrl as dc" ng-cloak>
    <div layout="row" layout-sm="column" layout-align="center center" ng-show="dc.activated" class="main-page">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-content style="background:#ECF0F1;" layout-padding ng-show="!dc.activated">
        <div class="detail-info">
            <img class="detail-img" ng-src="{{detail.images.large}}" alt=""/>
            <div class="detail-box">
                <h3>{{detail.title}}
                    {{detail.original_title}}
                </h3>
                <div class="detail-time">
                    <md-icon md-svg-src="img/icons/stop-watch.svg" class="s24 item-time" aria-label="time"></md-icon>
                    <span>123min</span>
                </div>
                <section layout="row" layout-sm="column" layout-align="start center" layout-wrap style="margin-bottom:12px;">
                    <md-button class="md-raised" ng-repeat="ge in detail.genres">{{ge}}</md-button>
                </section>
                <div class="detail-rating">
                    <span>{{detail.rating.average}}</span>
                    <span class="rating-span">你的评分:
                    </span>
                    <ng-rate-it></ng-rate-it>
                </div>
                <div class="collect">
                    {{detail.collect_count}}人看过
                </div>
                <div class="detail-summary">
                    <p>
                        {{detail.summary}}
                    </p>
                </div>
                <div class="comment">
                    <md-button class="md-fab md-mini md-primary" aria-label="comment" ng-click="goComment()">
                        <md-tooltip md-direction="bottom">
                            评论
                        </md-tooltip>
                        <md-icon md-svg-src="img/icons/edit.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini md-warn" aria-label="comment">
                        <md-tooltip md-direction="bottom">
                            收藏
                        </md-tooltip>
                        <md-icon md-svg-src="img/icons/favorite.svg"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </md-content>
    <md-content class="allbg" ng-show="!dc.activated">
        <md-tabs md-dynamic-height md-no-ink-bar md-no-pagination class="cast-tabs">
            <md-tab label="&#9898; 演员">
                <md-content layout="row" layout-sm="column" layout-align="start center" layout-padding style="background:#ECF0F1;">
                    <div class="casts">
                        <div class="cast-list">
                            <ul layout="row" layout-align="center center" layout-wrap>
                                <li ng-repeat="cast in detail.casts" class="cast-li">
                                    <div class="">
                                        <img ng-src="{{cast.avatars.large}}" alt="{{cast.name}}"/>
                                        <div class="cast-bottom">
                                            <span>{{cast.name}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="&#9898; 导演">
                <md-content layout="row" layout-sm="column" layout-align="start center" layout-padding style="background:#ECF0F1;">
                    <div class="casts">
                        <div class="cast-list">
                            <ul layout="row" layout-align="center center" layout-wrap>
                                <li ng-repeat="director in detail.directors" class="cast-li">
                                    <div class="">
                                        <img ng-src="{{director.avatars.large}}" alt="{{director.name}}"/>
                                        <div class="cast-bottom">
                                            <span>{{director.name}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <md-content layout="row" layout-sm="column" layout-align="center center" layout-padding style="background:#ECF0F1;" ng-show="!dc.activated">
        <div id="main" style="width: 500px;height:400px;"></div>
        <div id="main2" style="width: 500px;height:400px;"></div>
    </md-content>
    <md-content class="allbg" ng-show="!dc.activated">

        <section class="comment-list block commennt-margin">
            <article id="comment-id-1" class="comment-item">
                <a class="pull-left thumb-sm avatar">
                    <img src="img/a0.png" class="img-circle" alt="...">
                </a>
                <span class="arrow left"></span>
                <section class="comment-body panel panel-default">
                    <header class="panel-heading bg-white">
                        <a href="#">芥末蘸酱</a>
                        <label class="label bg-info m-l-xs">新人</label>
                        <span class="text-muted m-l-sm pull-right">
                            <i class="fa fa-clock-o"></i>
                            现在
                        </span>
                    </header>
                    <div class="panel-body">
                        <div>难看，前面大半段都很无聊，只有小鸟们游戏化的时候才有些意思</div>
                        <div class="comment-action m-t-sm">
                            <a href="#" data-toggle="class" class="btn btn-default btn-xs active">
                                <i class="fa fa-star-o text-muted text"></i>
                                <i class="fa fa-star text-danger text-active"></i>
                                喜欢
                            </a>
                            <a href="#comment-form" class="btn btn-default btn-xs">
                                <i class="fa fa-mail-reply text-muted"></i>
                                回复
                            </a>
                        </div>
                    </div>
                </section>
            </article>
            <!-- .comment-reply -->
            <article id="comment-id-2" class="comment-item comment-reply">
                <a class="pull-left thumb-sm avatar">
                    <img src="img/a0.png" alt="...">
                </a>
                <span class="arrow left"></span>
                <section class="comment-body panel panel-default text-sm">
                    <div class="panel-body">
                        <span class="text-muted m-l-sm pull-right">
                            <i class="fa fa-clock-o"></i>
                            10m ago
                        </span>
                        <a href="#">Mika Sam</a>
                        <label class="label bg-dark m-l-xs">资深</label>
                        瞎说什么大实话
                    </div>
                </section>
            </article>
            <!-- / .comment-reply -->
            <article id="comment-id-3" class="comment-item">
                <a class="pull-left thumb-sm avatar"><img src="img/a0.png" alt="..."></a>
                <span class="arrow left"></span>
                <section class="comment-body panel panel-default">
                    <header class="panel-heading">
                        <a href="#">我</a>
                        <label class="label bg-success m-l-xs">新人</label>
                        <span class="text-muted m-l-sm pull-right">
                            <i class="fa fa-clock-o"></i>
                            1h 之前
                        </span>
                    </header>
                    <div class="panel-body">
                        <div>游戏愤怒的小鸟拍成电影了，下一个是不是植物大战僵尸了。。.</div>
                        <div class="comment-action m-t-sm">
                            <a href="#comment-id-3" data-dismiss="alert" class="btn btn-default btn-xs">
                                <i class="fa fa-trash-o text-muted"></i>
                                删除
                            </a>
                        </div>
                    </div>
                </section>
            </article>
            <article id="comment-id-4" class="comment-item">
                <a class="pull-left thumb-sm avatar"><img src="img/a0.png" alt="..."></a>
                <span class="arrow left"></span>
                <section class="comment-body panel panel-default">
                    <header class="panel-heading">
                        <a href="#">Peter</a>
                        <label class="label bg-primary m-l-xs">资深</label>
                        <span class="text-muted m-l-sm pull-right">
                            <i class="fa fa-clock-o"></i>
                            2hs 之前
                        </span>
                    </header>
                    <div class="panel-body">
                        <blockquote>
                            <p>《愤怒的小鸟》就是一部教导欧洲小孩要警惕绿教入侵的政治宣传片！</p>
                            <small>某人
                                <cite title="Source Title">再见</cite>
                            </small>
                        </blockquote>
                        <div>看看这篇文章，写的不错</div>
                        <div class="comment-action m-t-sm">
                            <a href="#" data-toggle="class" class="btn btn-default btn-xs">
                                <i class="fa fa-star-o text-muted text"></i>
                                <i class="fa fa-star text-danger text-active"></i>
                                喜欢
                            </a>
                            <a href="#comment-form" class="btn btn-default btn-xs">
                                <i class="fa fa-mail-reply text-muted"></i>
                                回复</a>
                        </div>
                    </div>
                </section>
            </article>
            <!-- comment form -->
            <article class="comment-item media" id="comment-form">
                <a class="pull-left thumb-sm avatar"><img src="img/a0.png" alt="..."></a>
                <section class="media-body">
                    <form action="index.html" class="m-b-none">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Input your comment here">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">发送</button>
                            </span>
                        </div>
                    </form>
                </section>
            </article>
        </section>
    </md-content>
</div>
