<div class="main-page" ng-controller="DetailCtrl as dc" ng-cloak>
    <div layout="row" layout-sm="column" layout-align="center center" ng-show="dc.activated" class="main-page">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-content style="background:#ECF0F1;" layout-padding>
        <div class="detail-info">
            <img class="detail-img" ng-src="{{detail.images.large}}" alt=""/>
            <div class="detail-box">
                <h3>{{detail.title}}
                    {{detail.original_title}}
                </h3>
                <div class="detail-time">
                    <md-icon md-svg-src="img/icons/stop-watch.svg" class="s24 item-time" aria-label="time"></md-icon>
                    <span>123min</span>
                </div>
                <section layout="row" layout-sm="column" layout-align="start center" layout-wrap style="margin-bottom:12px;">
                    <md-button class="md-raised" ng-repeat="ge in detail.genres">{{ge}}</md-button>
                </section>
                <div class="detail-rating">
                    <span>{{detail.rating.average}}</span>
                    <span class="rating-span">你的评分:
                    </span>
                    <ng-rate-it></ng-rate-it>
                </div>
                <div class="collect">
                    {{detail.collect_count}}人看过
                </div>
                <div class="detail-summary">
                    <p>
                        {{detail.summary}}
                    </p>
                </div>
                <div class="comment">
                    <md-button class="md-fab md-mini md-primary" aria-label="comment">
                        <md-tooltip md-direction="bottom">
                            评论
                        </md-tooltip>
                        <md-icon md-svg-src="img/icons/edit.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini md-warn" aria-label="comment">
                        <md-tooltip md-direction="bottom">
                            收藏
                        </md-tooltip>
                        <md-icon md-svg-src="img/icons/favorite.svg"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </md-content>
    <md-content layout="row" layout-sm="column" layout-align="start center" layout-padding style="background:#ECF0F1;">
        <div class="casts">
            <p>
                演员
            </p>
            <div class="cast-list">
                <ul layout="row" layout-align="center center" layout-wrap>
                    <li ng-repeat="cast in detail.casts" class="cast-li">
                        <div class="">
                            <img ng-src="{{cast.avatars.large}}" alt="{{cast.name}}" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </md-content>
</div>
