<div class="main-page allbg" id="digbg" ng-controller="LoginCtrl as lc" layout="row" layout-align="center start" layout-padding ng-cloak>
    <md-content class="allbg" flex="50" style="margin-top:100px;">
        <br>
        <br>
        <br>
        <form class="" method="post" ng-submit="login()">
            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>账户名</label>
                <md-icon md-svg-src="img/icons/user.svg" class="name"></md-icon>
                <input ng-model="user.name" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>密码</label>
                <md-icon md-svg-src="img/icons/lock.svg" class="password"></md-icon>
                <input ng-model="user.password" type="password">
            </md-input-container>
            <md-input-container class="md-icon-float md-block" layout="row" layout-align="center start">
                <md-button class="md-raised">登陆</md-button>
                <md-button class="md-raised md-warn">取消</md-button>
            </md-input-container>
        </form>
    </md-content>
</div>
