<div class="main-page" ng-controller="NextCtrl as nc" ng-cloak>
    <div layout="row" layout-sm="column" layout-align="center center" ng-show="nc.activated" class="main-page">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <h2>正在热映
        <span>{{allItems.length}}</span>
        部
    </h2>
    <div class="">
        <ul layout="row" layout-wrap class="movies">
            <li ng-repeat="item in allItems" flex="20">
                <div class="item" ng-mouseover="renderRating(item)">
                    <div class="pro-it">
                        <div class="item-overlay opacity">
                            <span class="rate-info padder inline-block"></span>
                            <span class="grade">{{item.rating.average}}</span>
                            <div class="actor-info">
                                <p>
                                    导演：<span ng-repeat="director in item.directors">{{director.name}} </span>
                                </p>
                                <p>
                                    类型：<span ng-repeat="cat in item.genres">{{cat}} </span>
                                </p>
                                <p>
                                    主演：<span ng-repeat="actor in item.casts">{{actor.name}}
                                    </span>
                                </p>
                                <div class="like-button">
                                    <md-button class="md-icon-button md-accent" aria-label="Favorite">
                                        <md-icon md-svg-icon="img/icons/favorite.svg" style="color: red;"></md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                        <img ng-src="{{item.images.large}}" alt=""/>
                    </div>
                    <div class="bottom-info">
                        <a class="text-esp" href="{{item.alt}}">{{item.title}}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
